<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>todoList-demo</title>
</head>

<body>
	<div id="app">
		<div class="newTask" v-cloak>
				<input type="text" placeholder="输入待办事项" v-model="newTodo" @keypress.enter="addTodo">
		</div>
		<ol class="todos">
			<li v-for="(todo, index) in todoList">
				<input type="checkbox" id="checkbox" v-model="todo.done">
				<label for="checkbox">{{todo.title}}</label>
				<span v-if="todo.done">已完成</span>
				<span v-else>未完成</span>
				<button @click="removeTodo(index)">&times;</button>
			</li>
		</ol>
	</div>
	<script src="bundle.js"></script>
</body>

</html>